[access]
	inheritFrom = All-Projects
[project]
	description = TestRepo
[access "refs/*"]
	owner = group user/Embedded Elegance (EmbeddedElegance)
[access "refs/for/refs/*"]
	read = group user/Embedded Elegance (EmbeddedElegance)
	push = group user/Embedded Elegance (EmbeddedElegance)
	label-Code-Review = -2..+2 group user/Embedded Elegance (EmbeddedElegance)
	label-Verified = -1..+1 group user/Embedded Elegance (EmbeddedElegance)
	rebase = group user/Embedded Elegance (EmbeddedElegance)
	removeReviewer = group user/Embedded Elegance (EmbeddedElegance)
	submit = group user/Embedded Elegance (EmbeddedElegance)
[access "refs/heads/*"]
	read = group user/Embedded Elegance (EmbeddedElegance)
	create = group user/Embedded Elegance (EmbeddedElegance)
	push = +force group user/Embedded Elegance (EmbeddedElegance)
	pushMerge = group user/Embedded Elegance (EmbeddedElegance)
[access "refs/tags/*"]
	push = group user/Embedded Elegance (EmbeddedElegance)
	push = +force group user/Embedded Elegance (EmbeddedElegance)
